/* section #1 cars */
.cars,
.motorcycles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(Img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
}
.container {
  width: 100%;
  height: 85%;
  padding: 0 1rem;
  position: absolute;
  top: 85px;
  left: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 22rem));
  gap: 2rem;
  margin: 0 auto;
  overflow-y: scroll;
}
.container .box {
  min-height: 18rem;
  min-width: 12rem;
  border: var(--border);
  padding: 2rem 1rem 1rem;
  text-align: center;
  backdrop-filter: blur(10px);
  position: relative;
}
.container .box:hover {
  background-color: var(--background-color);
  cursor: pointer;
}
.container .box:hover .image {
  transform: scale(1.2);
}
.cars .box .image {
  width: 65%;
}
.motorcycles .box .image {
  width: 45%;
}
.box h3 {
  font-size: 1.6rem;
  color: var(--white);
  text-transform: capitalize;
  position: absolute;
  left: 3rem;
  right: 3rem;
  bottom: 6rem;
  margin: auto;
}
.container .box .content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 1rem;
  margin: auto;
}
.box .content .price {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}
.box .content .price p {
  font-size: 0.9rem;
  color: var(--heading-color);
  text-decoration: line-through;
  font-style: italic;
}
.box .content .now-price {
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem;
  font-weight: 600;
}
.content button {
  background: none;
}
.content .add-btn {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white);
}
.content .add-btn:hover {
  color: var(--heading-color);
}
/* cart box */
.credit-card {
  position: fixed;
  top: 60px;
  right: -100%;
  width: 18rem;
  max-height: 90%;
  padding: 1rem;
  backdrop-filter: blur(20px);
  overflow-y: scroll;
}
.credit-card h3 {
  background-color: var(--body-bg);
  color: var(--white);
  height: 40px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}
.credit-card span {
  color: var(--heading-color);
  margin-left: 1rem;
}
#close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}
#close-cart:hover {
  color: var(--heading-color);
}
.cart-item {
  width: 100%;
  height: 10rem;
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item img {
  width: 40%;
  padding-left: 0.5rem;
}
.detail-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}
.product-title {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
  color: var(--white);
  font-weight: 500;
}
.cart-price {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
  color: var(--heading-color);
  font-weight: 500;
}
.cart-quantity {
  width: 2.5rem;
  height: 1.4rem;
  background-color: var(--white);
  font-size: 0.8rem;
  padding: 0.2rem;
  color: var(--black);
  border: var(--border);
}
.close-content {
  position: relative;
  top: -3.95rem;
  right: 0.5rem;
  color: var(--white);
  cursor: pointer;
}
.close-content:hover {
  color: var(--heading-color);
}
.order-link {
  display: flex;
  flex-direction: column;
}
.order-link h3 {
  font-size: 1.2rem;
  color: var(--white);
  padding: 0.2rem;
  background-color: var(--header-background);
  letter-spacing: 0.4rem;
  margin-top: 0.4rem;
}
.total-price {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  color: var(--heading-color);
  border: 0.1rem solid var(--white);
}
.cart-row {
  border: 0.1rem solid var(--white);
  margin-top: 0.4rem;
}
.order-link button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--heading-color);
  color: var(--white);
  letter-spacing: 0.2rem;
  cursor: pointer;
  border: none;
}
.buy-btn:hover {
  background-color: var(--header-background);
  letter-spacing: 0.4rem;
}
.active {
  right: 0;
}
/* modal content*/
.modal {
  margin: 0 auto;
  height: 18rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 310px;
  background-color: var(--header-background);
  border: none;
  z-index: 100;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 10%;
  height: 100%;
  text-transform: capitalize;
}
.modal-content h3 {
  letter-spacing: 0.4rem;
  line-height: 2rem;
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
}
.modal-content span {
  color: var(--heading-color);
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  text-align: center;
}
.modal-content i {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}
.modal-content i:hover {
  color: var(--heading-color);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-gif {
  width: 30px;
}
.hidden {
  display: none;
}
